# Nothing Phone (4a) — Frogger
# Qualcomm (Snapdragon 7s Gen 3)

DEVICE_NAME=Nothing Phone (4a)
CODENAME=frogger
FLOW_TYPE=qualcomm_inactive
PLATFORM_TOOLS_VERSION=r33.0.0

# Feature Flags
SUPPORTS_AVB_DISABLE=0
SUPPORTS_DUAL_SLOT_PROMPT=0
HAS_PRELOADER=0
HAS_DLKM_SEPARATE=1

# Partition Layout
BOOT_PARTITIONS=boot dtbo init_boot recovery vendor_boot
FIRMWARE_PARTITIONS=abl aop aop_config bluetooth cpucp cpucp_dtb devcfg dsp featenabler hyp imagefv keymaster modem multiimgoem pvmfw qupfw shrm tz uefi uefisecapp xbl xbl_config xbl_ramdump
LOGICAL_PARTITIONS=odm product system system_ext vendor
DLKM_PARTITIONS=system_dlkm vendor_dlkm
VBMETA_PARTITIONS=vbmeta vbmeta_system vbmeta_vendor
